[submodule "tmux/tmux-mem-cpu-load"]
	path = tmux/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load.git
[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure.git
	branch = main
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "shrc.d/zshplugins/zsh-syntax-highlighting"]
	path = shrc.d/zshplugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shrc.d/zshplugins/k"]
	path = shrc.d/zshplugins/k
	url = https://github.com/supercrabtree/k.git
[submodule "shrc.d/zshplugins/zsh-bd"]
	path = shrc.d/zshplugins/zsh-bd
	url = https://github.com/Tarrasch/zsh-bd.git
[submodule "shrc.d/zshplugins/zaw"]
	path = shrc.d/zshplugins/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "shrc.d/zshplugins/zsh-autosuggestions"]
	path = shrc.d/zshplugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
