*pyc
.DS_Store
vim/doc/tabs
vim/local/*
vim/.netrwhist
vim/spell
vim/autoload/plug.vim
vim/plugged
vim/swap
vim/undodir
vim/backup
tags
shrc.d/local/*
shrc.d/generated/*sh
tmux/plugins/tmux-urlview
tmux/plugins/tmux-open
