[submodule "tmux/tmux-mem-cpu-load"]
	path = tmux/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load.git
[submodule "pure"]
	path = pure
	url = https://github.com/shanematley/pure.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
