*pyc
.DS_Store
bin/venv
vim/doc/tabs
vim/local/*
vim/.netrwhist
vim/spell
vim/autoload/plug.vim
vim/plugged
vim/swap
vim/undodir
vim/backup
tags
shrc.d/local/*
shrc.d/generated/*sh
tmux/plugins/tmux-open
tmux/plugins/tmux-continuum
tmux/plugins/tmux-resurrect
tmux/plugins/tmux-urlview
karabiner/automatic_backups
